body {
  background: #eee url('../img/bg.jpg') no-repeat bottom right fixed;
  background-position-y: 20px;
}    
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
  background: url('../img/loading.svg') 50% 50% no-repeat rgba(250,250,250,0.7);
}
.snackbar {
  background: rgba(0, 23, 52, 0.8);
  padding: 7px;
  color: #fff;
} 
.inputShadow {
  background-color: #fff;
  padding-left: 7px !important;
  height: 50px;
}
.inputShadow:focus {
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 23, 52, 0.9) !important;
  box-shadow: inset 0 -2px 0 rgba(0, 23, 52, 0.9) !important;
  background-color: #fafafa !important;
}
.inputShadow::-webkit-input-placeholder { font-style: italic; }
.inputShadow:-moz-placeholder { font-style: italic; }
.inputShadow::-moz-placeholder { font-style: italic; }
.inputShadow:-ms-input-placeholder { font-style: italic; }
.well-card {
  padding: 0;
  margin-top: 25px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 1px 2px 10px #ccc;
  display: none;
  font-size: 15px;
}
.panel-info > .panel-heading {
  background: rgba(0, 23, 52, 0.9);
}
.panel-body {
  padding: 15px 15px 0;
  background-color: #fff;
}
.panel-footer {
  display: inline-block;
  width: 100%;
  padding: 10px 15px 0;
}
.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}
.table-user-information > tbody > tr:first-child {
    border-top: 0;
}
.table-user-information > tbody > tr > td {
    border-top: 0;
}