
.headerLogo {
	margin: 0 auto;
	margin-top: 15%;
} 
.headerImg {
	float: right;
	margin-right: 50px;
	width: 160px;
}
.headerText {
    width: 280px;
    font-size: 28px;
    float: left;
    margin-top: 30px;
    margin-left: -70px;
}

@media only screen and (max-width: 769px) {
	.headerLogo {
	  margin-top: 30%;
	}
}
@media only screen and (max-width: 690px) and (orientation: landscape) {
	.headerLogo {
		margin-top: 2% !important;
    	margin-bottom: 10px !important;
	}
	.headerImg {
		float: right;
		margin-right: 80px;
		width: 120px;
	    margin-top: 0 !important;
	}
	.headerText {
	    margin-top: 10px;
	    margin-left: -80px;
	}
}
@media only screen and (max-width: 460px) {
	.headerLogo {
    	margin-top: 10% !important;
    	margin-bottom: 0 !important;
	}
	.headerText {
	    margin-top: 0;
	    margin-left: 20px;
	}
	.headerImg {
		float: right;
		margin-right: 100px;
		margin-top: 0 !important;
	    width: 140px;
	}
	.col-xs-6 {
		width: 100%;
	}
	.table-user-information > tbody > tr > td {
	    display: inline-block;
	}
}
@media only screen and (max-width: 420px) {
	.headerImg {
		float: right;
		margin-right: 100px;
		margin-top: 0 !important;
	    width: 120px;
	}
}
@media only screen and (max-width: 360px) {
	.headerImg {
		float: right;
		margin-right: 75px;
		margin-top: 0 !important;
	    width: 120px;
	}
	.headerText {
	    margin: 0 !important;
	}
}